body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #110f1d;
    color: #f4f4f4;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    background-color: #d3d6e0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.header img {
    width: 30px;
}

.header button {
    padding:2px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
}

.header.dark-mode {
    background-color: #343146;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-and-btn-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.link-and-btn-container a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.link-and-btn-container a:hover {
    background-color: #c1c5cf;
    transition: background-color 0.5s ease;
}

.body {
    margin: 0px;
}

.body-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 100px;
}


.body-content {
    background-color: #d3d6e0;
    padding: 20px;
    padding-bottom: 0px;
    display: block;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.body-content.dark-mode {
    background-color: #343146;
}

.body-content-upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#body-content-upper-section-img {
    width: 50px;
}

.body-content-lower-section {
    text-align: center;
    gap: 10px;
    padding: 20px;
}

button {
    background-color: #8ebcbf;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #6aa8ab;
}

.body-footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.idea {
    background-color: #d2d2d253;
    margin: 20px;
    border: dashed 2px #aeaeaeaf;
    border-radius: 10px;
}

.footer {
    background-color: #d3d6e0;
    text-align: center;
    padding: 1px;
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.5s ease;
    box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.1);
}

.footer.dark-mode {
    background-color: #343146;
}
